@import "tailwindcss";
@plugin "tailwind-scrollbar";

:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

:root {
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
}

@custom-variant light (&:where(.light, .light *));
.light {
  --color-background-main: #ffffff;
  --color-background-emphasis: #f6f6f6;

  --color-split-line: #d1d5db;

  --color-theme-primary: #3b82f6;
  --color-theme-secondary: #1081b9;

  --color-text-strong: #1f2937;
  --color-text-muted: #374151;
  --color-text-base: #6b7280;

  --color-text-shadow: #518cec;

  --color-word-card-normal: #d1d5db;
  --color-word-card-normal-hover: #4d91ff;

  --color-word-card-learning: #adc8f4;
  --color-word-card-learning-hover: #4d91ff;

  --color-word-card-ignored: transparent;
  --color-word-card-ignored-hover: transparent;
}

@custom-variant dark (&:where(.dark, .dark *));
.dark {
  --color-background-main: #1a1a1a;
  --color-background-emphasis: #141414;

  --color-split-line: #27272a;

  --color-theme-primary: #3b82f6;
  --color-theme-secondary: #1081b9;
  --color-theme-tertiary: #0f4090;

  --color-text-strong: var(--color-zinc-200);
  --color-text-base: var(--color-zinc-400);
  --color-text-muted: var(--color-zinc-600);

  --color-text-shadow: var(--color-zinc-950);
}

@custom-variant gray (&:where(.light, .light *));
.gray {
  --color-theme-primary: #3b82f6;
  --color-theme-secondary: #1081b9;
}

@utility bg-main {
  background-color: var(--color-background-main);
}

@utility bg-emphasis {
  background-color: var(--color-background-emphasis);
}

@utility bg-split-line {
  background-color: var(--color-split-line);
}

@utility bg-theme-primary {
  background-color: var(--color-theme-primary);
}

@utility bg-theme-secondary {
  background-color: var(--color-theme-secondary);
}



@utility icon-theme-primary {
  color: var(--color-theme-primary);
}

@utility icon-theme-secondary {
  color: var(--color-theme-secondary);
}

@utility text-theme-strong {
  color: var(--color-text-strong);
}

@utility text-theme-base {
  color: var(--color-text-base);
}

@utility text-theme-muted {
  color: var(--color-text-muted);
}

@utility split-line {
  border-color: var(--color-split-line);
}

@utility text-shadow {
  background-color: var(--color-text-shadow);
}

@utility word-card-normal {
  background-color: var(--color-word-card-normal);
  border: 2px solid var(--color-word-card-normal);
  border-radius: 4px;
  &:hover {
    border-width: 2px;
    border-color: var(--color-word-card-normal-hover);
  }
}

@utility word-card-learning {
  background-color: var(--color-word-card-learning);
  border: 2px solid var(--color-word-card-learning);
  border-radius: 4px;
  &:hover {
    border-width: 2px;
    border-color: var(--color-word-card-learning-hover);
  }
}


@utility word-card-ignored {
  background-color: var(--color-word-card-ignored);
  border: 2px solid var(--color-word-card-ignored);
  border-radius: 4px;
  &:hover {
    border-width: 2px;
    border-color: var(--color-word-card-ignored-hover);
  }
}


@layer utilities {
  .tab-active-beforeafter {
    position: relative; /* if not already */
  }
  .tab-active-beforeafter::before,
  .tab-active-beforeafter::after {
    content: "";
    position: absolute;
    bottom: 0;
    width:10px;
    height:10px;
    transition: 0.1s linear background-color;
    border: var(--color-split-line) 1px solid;
    border-radius: 50%;
    background-color: transparent; /* fallback */
    box-shadow: 0 0 0 40px var(--color-background-main);
  }
  .tab-active-beforeafter::before {
    left: -10px;
    clip-path: inset(5px 0px 0px 5px);

  }
  .tab-active-beforeafter::after {
    right: -10px;
    clip-path: inset(5px 5px 0px 0px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  
}

#root {
  width: 100%;
  height: 100%;
}

